/.DS_Store
/.ipynb_checkpoints
/Poor Report Patterns.pdf
/Project Examples.zip
/Prompt.pdf
/Rubric.pdf
/Simulation Progress Report (1).pdf
/Simulation Progress Report.pdf
/my_prompt.txt
day 1 distribution.png
day 2 distribution.png
mean inf by day.png
.gitignore
pandemic length.png
Classroom Pandemic Flu Spread Final Report.pdf
.gitignore
Project Examples/Bad_1.pdf
Project Examples/Bad_2.pdf
Project Examples/Bad_3.pdf
Project Examples/Good_1.pdf
Project Examples/Good_2.pdf
Project Examples/Good_3.pdf
.gitignore
